.recomended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  margin: 25px 0px;
  padding: 25px 0px;
}

.recomended-friends__title {
  font-size: 14px;
  color: var(--transparent-color);
}

.recomended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--transparent-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--transparent-color);
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--transparent-color);
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 25px;
  height: 25px;
  border-radius: 40%;
  margin-right: 7px;
}

.open-post__members-count {
  font-size: 14px;
  color: var(--transparent-color);
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}

.open-post__members-status {
  color: #ff59bd;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: var(--transparent-color);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.open-post__heart-count span {
  margin-left: 5px;
}
