.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: var(--main-border);
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__bot {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 23px;
  bottom: 28px;
}
