.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__avatare {
  width: 70px;
  height: 70px;
  border-radius: 24px;
  margin-right: 20px;
}
.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}
