.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
}

.user-component__avatare {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__avatare--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatare--sm {
  width: 60px;
  height: 60px;
  border-radius: 19px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__title-not-bold {
  font-weight: 400;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
}
